




.heading-container{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.heading-inner{
  background-color: #f1f1f2;
  text-align: center;
  width: 90%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
}

h1{
  margin: 0.5rem 0;
  color: #05a9e5;;
}

p{
  margin: 0.4rem 0;
  color: #1b3fb6;;
}